## Include
include README.md COPYING COPYING.lesser NOTICE requirements.txt
recursive-include compiler *.py *.tl *.tsv *.txt
recursive-include tests *.py

## Exclude
prune pyrogram_styled/errors/exceptions
prune pyrogram_styled/raw/functions
prune pyrogram_styled/raw/types
prune pyrogram_styled/raw/base
exclude pyrogram_styled/raw/all.py
